.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-home::before{
    content:"";
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(237, 234, 239, 0.1), #fff), url(/assets/strada.jpg);
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.9;
    
}

.main-title{
    text-align: center;
    color: $primary-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
    min-height: 80vh;
    
    h1{
        order: 2;
        text-align: center;
        text-transform: uppercase;
        color: black;
    }
}

@media screen and (max-width: 768px){

    .main-title{
   
        min-height: 60vh;
        
        h1{
            font-size: 24px;
        }
    }
}

.agendamentos{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 80vh;
}

table{
    background-color: $white-normal;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    tr{
        //border: 10px solid rgba(255, 255, 255, 0.9);
       // background-color: linear-gradient(#ade8f4, #caf0f8);
       background: linear-gradient(0.25turn,  #ade8f4, #caf0f8);
    }
    tr + tr {
        margin-top: 10px; 
    }
}


table, th{
    
    padding: 12px;
}
table, th, td{
    border: none;
}

input{

    background-color: $white-light;
    font-family: 'Sora', sans-serif;
    text-align: center;
    border: 1px solid rgba(0,0,0, 0.3);  
    border-radius: 4px;  
}

tbody tr{
    transition: background 0.5s;
}

tbody tr:hover{
    background: rgba(0, 119, 182, 0.5);
    animation: tableTransform 0.8s;
}

table th{
    cursor: default;
}

@keyframes tableTransform {
    from{
        table tbody tr{
            transform: translate(0, 50);
        }
    }to{
        transform: translate(10px, 5px);
    }
}

footer{
    background-color: #181c28;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    flex-direction: column;
    color: $white-normal;
    padding: 24px;
    img{
        max-width: 400px;
    }
    p{
        text-align: center;
    }

}

@media  screen and (max-width: 768px) {
    table .hr-saida, .hr-retorno, .th-hr-saida, .th-hr-retorno{
        display: none;
    }
    table{
        max-width: 400px;
        font-size: 10px;
        overflow: hidden;
    }
}

.modal-content{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 468px;
    border-radius: 5px;
    padding: 8px;
    z-index: 999;
}

dialog{
    border: none;
    margin: auto !important; 
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
    
}   

dialog::backdrop{
    background-color: rgba(0, 0,0 , 0.8);
    
}

.form-content{
    text-align: justify;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 468px;
    padding: 24px;
    gap: 10px;

    label{
        font-weight: bold;
    }

    .btn-salvar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 8px 0 0;

        button, a{
            min-width: 100px;
            max-width: 100px;
            padding: 8px;
            background-color: $white-normal;
            border-radius: 4px;
            font-weight: 800;
            margin-top: 24px;
            margin: 0 24px 0px 0;
        }
    }
}